<!DOCTYPE HTML>
<html lang="en">
       <head>
              <meta charset="UTF-8">
              <title></title>
</head>
<body>
              {% for joke in p_jokes %}
              <h3>{{  joke.author  }}</h3>
              <div>{{  joke.content  }}</div>
              <ul>
                     {% for comment in joke.comments %}
                     <li>{{ comment.comment_author  }}:{{comment.comment_content  }}</li>
                     {% endfor %}
              </ul>
              <hr />
              {% endfor %}
</body>
</html>